<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Bunk</title>
    <link rel="stylesheet" href="assets/materialize.min.css">
    <link rel="manifest" href="assets/manifest.json">
    <style>
    span{padding-right: 20px;}
    
    .sub{
        font-size:30px;
    }
    .container{
        background-color:#9e9e9e ;
    }
    .card{
        border-radius:25px; 
    }
    .title{
        border-radius:10px; background-color:#9e9e9e;
    }
    h4{
        background-color:#9e9e9e;
    }
    span{
        color: black;
    }
    body{
        background-color: #333;
    }
    </style> 
</head>
<body>
    <div class="container">
        <nav class="nav-wrapper indigo">
            <a href="#" class="brand-logo center"> Attendance Manager</a>
        </nav>
        <div class="section">
            <div class="container center">
                <button class="btn-large waves-effect waves-light center" onclick="hidepast();">Add past bunk</button>
                <br>
                
                <h4 id="m" style="display: none"> Feature Yet to be added<p><small style="font-size: 10px;">Bunked records can be updated on a daily basis to reflect on the daily attendance.</small></p></h1>
                <form class="white-text"action="/update" id="past" method="post" style="display: none">
                    <p>
                        <label>
                          <input name="sub" type="radio" value="atc" />
                          <span>ATC</span>
                        </label>
                      
                      
                        <label class=" large">
                          <input name="sub" type="radio" value="cn" />
                          <span>CN</span>
                        </label>
                    </p>
                    <p>
                        <label>
                          <input name="sub" type="radio" value="oomd"  />
                          <span>OOMD</span>
                        </label>
                      
                      
                        <label class=" large">
                          <input name="sub" type="radio" value="ai"/>
                          <span>AI</span>
                        </label>
                    </p>
                    <p>
                        <label>
                          <input name="sub" type="radio" value="me"  />
                          <span>ME</span>
                        </label>
                      
                      
                        <label class=" large">
                          <input name="sub" type="radio" value="dbms"/>
                          <span>DBMS</span>
                        </label>
                    </p>
                      
                    <div class="input-field">
                        <input type="number" name="number" placeholder="Enter no of classes[1-4]">
                        <label for="number"></label>
                    </div>

                    <div class="input-field">
                        <input type="submit" name="submit1" value="Submit">
                        <label for="submit"></label>
                    </div>
                
                </form>

                <br>
                <br>
                <button class="btn-large waves-effect waves-light center" onclick="hidefuture();">Add future bunk</button>
                <br>
                <form action="/predict" method="post" id="future" style="display: none" >
                        <p>
                        <label>
                          <input name="sub" type="radio" value="atc" checked/>
                          <span>ATC</span>
                        </label>
                      
                      
                        <label class=" large">
                          <input name="sub" type="radio" value="cn" />
                          <span>CN</span>
                        </label>
                    </p>
                    <p>
                        <label>
                          <input name="sub" type="radio" value="oomd"  />
                          <span>OOMD</span>
                        </label>
                      
                      
                        <label class=" large">
                          <input name="sub" type="radio" value="ai"/>
                          <span>AI</span>
                        </label>
                    </p>
                    <p>
                        <label>
                          <input name="sub" type="radio" value="me"  />
                          <span>ME</span>
                        </label>
                      
                      
                        <label class=" large">
                          <input name="sub" type="radio" value="dbms"/>
                          <span>DBMS</span>
                        </label>
                    </p>
                      
                    <div class="input-field">
                        <input type="number" name="number" min="1" max="4" required placeholder="Enter no of classes[1-4]">
                        <label for="number">No of periods</label>
                    </div>
                    <div class="input-field">
                            <p style="float: left">Date</p>
                        <input type="date" name="day" required placeholder="" >
                        <label for="day">Date</label>
                        
                    </div>
                    
                    <div class="input-field">
                            <button class="btn waves-effect waves-light" type="submit" name="submit">Submit</button>
                        <label for="submit"></label>
                    </div>
                
                </form>
                <div class="card light-blue lighten-4">
                    <div class="card-title">
                        <p id="nclick">Note</p>
                    </div>
                    <div id="note"class="card-content light-blue lighten-4" style="display:none">
                        <ul >
                            <li>
                                Enter the date (in the same week) till where you want to calculate attdance.
                            </li>
                            <li>
                                All the classes are assumed to be attended so enter only no of0 periods that u want to bunk
                            </li>
                            <li>All the attendance will be updated every monday. Any bugs or probs? DM me. </li>
                        </ul>
                        
                    </div>
                    <div>
                    
                    </div>
                </div>
            </div>
            

            
        </div>
        </div>
        <div class="center">
                <a href="https://github.com/jdmallige"><p class="white-text style="text-decoration: none" "></p>-By jagdish</p></a>
                </div>
       


    </div>

</body>
<script src="assets/materialize.min.js"></script>
<script>

function hidefuture(){
    var p=document.getElementById('past');
var f=document.getElementById("future");
if(f.style.display=="none")
{f.style.display="";p.style.display="none";}
else
f.style.display="none";

}
var nc=document.getElementById('nclick');
nc.addEventListener('click',function(){
    var note=document.getElementById('note');
    if(note.style.display=="none")
    note.style.display="";
    else
    note.style.display="none";
})
function hidepast(){
var p=document.getElementById('past');
var m=document.getElementById('m');
if(m.style.display=="none")
{p.style.display="none";
m.style.display="";
}
else{
p.style.display="none";
m.style.display="none";
}
}





</script>
</html>