<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Attendance Managment</title>
    <link rel="stylesheet" href="assets/materialize.min.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="assets/1.png">
    
</head>
<body>
    <div class="container">
        <nav class="nav-wrapper indigo">
            <a href="#" class="brand-logo center"> Attd Mang</a>
        </nav>
        <h5 style="text-align:center">Enter your USN to see attendance</h5>
        <div class="section">
            
            <div style="margin-top:80px; "class="container center">
            <form  method="POST" action="/">
                <div class="input-field">
                    <input type="text" id="usn" name="usn">
                    <label for="usn">USN</label>
                    
                </div>
                <div class="input-field"> 
                <button type="submit" class="btn-large waves-effect purple lighten-2 center" >Enter</button>
            </div>

            </form>
        </div>

        </div>
        



    </div>

</body>
<script src="assets/materialize.min.js"></script>
</html>